@font-face {
  font-family: "Mehr Nastaliq";
  src: url("./assets/fonts/Mehr_Nastaliq_Web_V2.woff") format("woff"),
       url("./assets/fonts/Mehr_Nastaliq_Web_v2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* ensures text is visible while font loads */
}

@font-face {
  font-family: 'Etihad Arabic';
  src: url('./assets/fonts/ETIHADARABIC-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etihad Arabic';
  src: url('./assets/fonts/ETIHADARABIC-BOOK.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etihad Arabic';
  src: url('./assets/fonts/ETIHADARABIC-REGULAR.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etihad Arabic';
  src: url('./assets/fonts/ETIHADARABIC-MEDIUM.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etihad Arabic';
  src: url('./assets/fonts/ETIHADARABIC-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
