@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --font-base: 'Rubik', 'Kanit', 'Barlow Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  --font-arabic: "Amiri", serif;
  --font-urdu:   "Etihad Arabic", "Segoe UI","Calibri", serif;

  --theme-primary: rgb(30 50 123);
  --theme-secondary: rgb(150 79 79);
  --theme-tertiary: 0,0,0;
  --theme-shadow: rgb(237, 229, 239);
  --theme-one: rgba(255,255,255, 0.8);
  --theme-two: rgb(238, 238, 238);

  --theme-card-bg: rgba(255,255,255, 0.8);
  --theme-card-color: rgb(33, 37, 41);
  --theme-primary-btn-bg: var(--theme-primary);
  --theme-primary: rgb(52 111 143);
  --theme-secondary: rgb(82 80 195);
  --theme-tertiary: 0,0,0;
  --theme-shadow: rgb(237, 229, 239);
  --theme-one: rgba(255,255,255, 0.8);
  --theme-two: rgb(238, 238, 238);

  --theme-card-bg: rgba(230, 232, 244, .7);
  --theme-card-border: rgb(158, 182, 226);
  --theme-card-box-color: rgb(76 89 178 / 15%);
  --theme-card-main-bg: rgb(246 248 255 / 80%);
  --theme-card-item-bg: rgb(255 255 255 / 70%);
  --theme-card-long-item-bg: rgb(27 35 54 / 75%);

  --theme-btn-bg: rgb(10 115 178);
  --theme-btn-hover-bg: rgb(78 119 174 / 90%);
  --theme-btn-active-bg: rgb(40, 168, 57);

  --theme-input-bg: rgb(69, 84, 128);
  --theme-input-border: rgb(90, 109, 167);
  --theme-input-box-shadow: rgb(90, 109, 167);
  --theme-input-color: rgb(204 211 219);
  --theme-input-placeholder: rgb(39, 40, 41);
}

[data-theme="dark"]  {
  --theme-primary-btn-bg: rgb(75 96 173);
  --theme-primary-btn-hover-bg: rgb(58 70 113);
  --theme-primary-btn-active-bg: rgb(158 86 58);
  --theme-primary-input-bg: rgb(240 111 44 / 15%);
  --theme-primary-input-border: rgb(197 125 87 / 70%);
  --theme-menu-primary-color: rgb(148 171 255);
  --theme-menu-secondary-color: rgb(203 214 255);
  /* --theme-primary: rgb(30 50 123);
  --theme-secondary: rgb(150 79 79); */
  --theme-primary: rgb(27 42 94);
  --theme-secondary: rgb(98 60 45);
  --theme-tertiary: 255,255,255;
  --theme-shadow: rgb(48, 51, 58);
  --theme-one: rgba(41, 41, 41, 0.8);
  --theme-two: rgb(76, 76, 76);

  --theme-card-main-bg: rgb(12 14 21 / 60%);
  --theme-card-bg: rgb(141 141 141 / 15%);
  --theme-card-border: rgb(75 84 135 / 80%);
  --theme-card-box-color: rgb(109 127 255 / 15%);
  --theme-card-item-bg: rgb(81 98 135 / 25%);
  --theme-card-long-item-bg: rgb(18 24 37 / 75%);

  --theme-btn-bg: rgb(52 85 129 / 90%);
  --theme-btn-hover-bg: rgb(40 70 110 / 90%);
  --theme-btn-active-bg: rgb(128 72 54);

  --theme-input-bg: rgba(65, 47, 39, 0.55);
  --theme-input-border: rgba(192, 114, 88, 0.65);
  --theme-input-box-shadow: rgb(210 125 96 / 25%);
  --theme-input-color: rgb(217, 223, 230);
  --theme-input-placeholder: rgb(218, 166, 147);

  --theme-modal-bg: rgb(31, 33, 43);
  --theme-modal-input-bg: rgb(24, 30, 41);
  --theme-modal-input-border: rgb(67, 76, 104);
}

body {
  margin: 0;
  font-family: var(--font-base) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cstm-neutral-color: ;
  --cstm-green-color: rgb(26, 151, 45);
  --cstm-red-color: rgb(198, 68, 73);

  --theme-light-primary: rgb(55, 131, 223);
  --theme-light-secondary: rgb(203, 110, 209);
  --theme-light-tertiary: 0,0,0;
  --theme-light-shadow: rgb(237, 229, 239);
  --theme-light-one: rgba(255,255,255, 0.8);
  --theme-light-two: rgb(238, 238, 238);

  --theme-dark-primary: rgb(40, 93, 158);
  --theme-dark-secondary: rgb(151, 83, 156);
  --theme-dark-tertiary: 255,255,255;
  --theme-dark-shadow: rgb(48, 51, 58);
  --theme-dark-one: rgba(41, 41, 41, 0.8);
  --theme-dark-two: rgb(76, 76, 76);

}

html[dir="rtl"] body {
  font-family: var(--font-urdu), var(--font-arabic), var(--font-base) !important;
  /* font-family: var(--font-arabic), var(--font-base); */
}

html[lang="ur"] body {
  font-family: var(--font-urdu), var(--font-arabic), var(--font-base) !important;
}

.force-base-font {
  --font-main: var(--font-base) !important;
}

.form-control:focus {
  background-color: var(--theme-input-bg);
  color: var(--theme-input-color);
  border: 1px solid var(--theme-input-border);
  box-shadow: 0 0 0 .15rem var(--theme-input-box-shadow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}